body {
    background-color: #bd5703;
  }



h1 {
    font-family: Impact;
    font-size:6em;
    padding-bottom:0%;
    padding-top: 8%;
    text-align: center;
    width: 100%;
    margin: auto;

}

#colorTwo {
    font-style: italic;
    color: #DAA520;
    padding-right: 10px;
}
h2 {
    font-family: Impact;
    font-size: 2em;
    padding-top:0%;
    text-align: center;
}

h3 {
    font-family: Arial;
    font-size: 2.5em;
}

h4 {
    font-family: 'Arial Narrow';
    font-size: 1.5em;
    font-style: italic;
}

h5 {
    font-family: 'Arial Narrow';
    font-size: 1em;
    font-style: italic;
    color: white
}

#content {
    width: 80%;
    margin: auto;
    font-family: 'Arial Narrow';
    font-size: 1.5em
}

#embed {
    text-align: center;
}

/* mobile view; responsive design */

@media (orientation: portrait) {
    #content {
        width: 100%;
    }
}


  

